<div class="table-tools-container">
  <div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="searchTerm" placeholder="Search by fund name" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="create-button">
    <button mat-raised-button color="primary" (click)="openCreateFundModal()">Create Fund</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
    <td mat-cell *matCellDef="let fund">
      <ng-container *ngIf="isFundInWallet(fund); else notInWallet">
        <span class="bold-text">{{ fund.name }}</span>
      </ng-container>
      <ng-template #notInWallet>{{ fund.name }}</ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="interest">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="interest">Interest</th>
    <td mat-cell *matCellDef="let fund">{{ fund.interest }}</td>
  </ng-container>

  <ng-container matColumnDef="minimumValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="minimumValue">Minimum Value</th>
    <td mat-cell *matCellDef="let fund">{{ fund.minimumValue }}</td>
  </ng-container>

  <ng-container matColumnDef="maximumValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="maximumValue">Maximum Value</th>
    <td mat-cell *matCellDef="let fund">{{ fund.maximumValue }}</td>
  </ng-container>

  <ng-container matColumnDef="mandatoryPeriodMonths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="mandatoryPeriodMonths">Mandatory Period (Months)</th>
    <td mat-cell *matCellDef="let fund">{{ fund.mandatoryPeriodMonths }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let fund">
      <button mat-icon-button color="warn" (click)="deleteFund(fund)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="editFund(fund)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openFundDetailsModal(fund)">
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>